.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003580; /* Booking.com Blue */
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}

.lInput {
  height: 30px;
  padding: 10px;
  width: 200px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}